@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}
body nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 200px;
  height: 100px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
body nav .respoimg {
  width: 60px;
  display: none;
}
body nav .burgebbarblack {
  width: 50px;
  height: 50px;
  background-color: black;
  position: fixed;
  right: 20px;
  border-radius: 5px;
  border: 1px solid white;
  display: none;
  cursor: pointer;
  z-index: 13;
}
body nav .burgebbarblack .burger {
  cursor: pointer;
  z-index: 13;
  position: fixed;
  top: 30px;
  right: 30px;
  width: 25px;
}
body nav .burgebbarblack .burger .active .line {
  transform: translateY(8.65px) rotate(45deg);
}
body nav .burgebbarblack .burger .active .line2 {
  opacity: 0;
}
body nav .burgebbarblack .burger .active .line {
  transform: translateY(-8.65px) rotate(-45deg);
}
body nav .burgebbarblack .burger .line1 {
  height: 4px;
  width: 100%;
  background-color: #FFCC01;
  margin: 5px 0;
  transition: 0.5s;
}
body nav .burgebbarblack .burger .line2 {
  height: 4px;
  width: 100%;
  background-color: #FFCC01;
  margin: 5px 0;
  transition: 0.5s;
  position: relative;
  right: 4px;
}
body nav .burgebbarblack .burger .line3 {
  height: 4px;
  width: 100%;
  background-color: #FFCC01;
  margin: 5px 0;
  transition: 0.5s;
}
body nav .burgebbarblack .burger .line1rotate {
  margin-top: -1px;
  transform: translateY(9px) rotate(45deg);
  transition: 0.5s;
}
body nav .burgebbarblack .burger .line2rotate {
  opacity: 0;
  transition: 0.5s;
}
body nav .burgebbarblack .burger .line3rotate {
  transform: translateY(-9px) rotate(-45deg);
  transition: 0.5s;
}
body nav .slide {
  position: fixed;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(./images/2.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  color: white;
  transition: left 0.5s ease;
  z-index: 12;
  padding: 20px;
  display: flex;
  justify-content: center;
}
body nav .slide .slide2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  width: 300px;
  background-color: #FFCC01;
  border-left: 5px black solid;
  border-right: 5px black solid;
  height: 100%;
}
body nav .slide .slide2 ul {
  display: flex;
  flex-direction: column;
}
body nav .slide .slide2 a {
  color: black;
  font-size: 30px;
  transition: 0.5s;
}
body nav .slide .slide2 a:hover {
  color: red;
}
body nav .slide .slide2 img {
  position: absolute;
  top: 20px;
  left: 100px;
}
body nav .slide.active {
  left: 0;
}
body nav #mylogo {
  width: 150px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}
body nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 40px;
}
body nav ul li, body nav ul a {
  color: white;
  text-decoration: none;
}
body nav .cart-button {
  background-color: red;
  color: white;
  font-size: 16px;
  width: 50px;
  position: relative;
  border-radius: 5px;
  display: inline-block;
}
body nav .cart-button::after {
  content: "";
  position: absolute;
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid red;
}
body nav #mydis {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-left: 55px;
}
body nav #mydis img {
  width: 35px;
  height: 35px;
  transition: 1s;
}
body nav #mydis:hover img {
  transform: translateX(30px);
}
body nav #mydis2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}
body nav #mydis2 img {
  width: 30px;
  height: 30px;
}
body nav #mydis2::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 4px;
  background-color: yellow;
  bottom: -3px;
  left: -15px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-in-out;
}
body nav #mydis2:hover::after {
  transform: scaleX(1);
}
body nav #mydis2, body nav .myyellow:hover {
  color: yellow;
}
body nav .pizza {
  transition: 0.5s;
  transform: scale(0);
}
body nav #mydis2:hover .pizza {
  transform: scale(1.5);
}
body .scrolled {
  background: rgba(0, 0, 0, 0.7);
}
body .scrolled::before {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  width: 100%;
  border-top: 8px solid white;
  -o-border-image: url("./images/copyright_border.png") 25 stretch;
     border-image: url("./images/copyright_border.png") 25 stretch;
}
body #mysct {
  background-image: url(./images/c837a6_94887042ef304568a8406628f7d030d1~mv2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 500px;
}
body #mysct h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: rgb(255, 255, 255);
  font-size: 44px;
  position: relative;
  top: 50%;
  font-family: "Arima", system-ui;
}
body table img {
  width: 100px;
}
body table {
  border-collapse: collapse;
  margin: 40px auto;
  max-width: 1040px;
  text-align: center;
  width: 100%;
  font-family: "Arima", system-ui;
}
body table .mytd {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-top: 20px;
  padding-top: 20px;
}
body table td {
  height: 120px;
}
body table td .fa-circle-plus {
  margin-right: 10px;
}
body table td .fa-circle-minus {
  margin-left: 10px;
}
body table .background:hover {
  background-color: #F3F3F3;
}
body table .background {
  transition: 0.5s;
  position: relative;
  transition: 0.5s;
}
body table .background::before {
  position: absolute;
  content: "";
  border: 4px solid transparent;
  -o-border-image: url(./images/gray_Hborder.png) 3 round;
     border-image: url(./images/gray_Hborder.png) 3 round;
  width: 99%;
  bottom: 0;
  left: 0;
  max-width: 1040px;
}
body table th {
  height: 70px;
  background-color: #F3F3F3;
  position: relative;
}
body table th::before {
  position: absolute;
  content: "";
  border: 4px solid transparent;
  -o-border-image: url(./images/gray_Hborder.png) 3 round;
     border-image: url(./images/gray_Hborder.png) 3 round;
  width: 99%;
  bottom: 0;
  left: -5px;
  max-width: 1040px;
}
body .mainproduct {
  padding-right: 33%;
}
body .mainproductname {
  padding-right: 20%;
}
body .fa-x {
  transform: scale(1);
  transition: 0.5s;
  cursor: pointer;
}
body .fa-x:hover {
  color: red;
  transform: scale(1.1);
}
body .fa-pencil {
  cursor: pointer;
}
body .fa-pencil:hover {
  color: rgb(189, 159, 9);
}

.red {
  width: 100%;
  background-color: #E80F0E;
  height: 50px;
  position: relative;
}
.red ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding-top: 15px;
  padding-left: 20%;
  color: white;
}
.red ul span {
  color: yellow;
}
.red ul a {
  text-decoration: none;
  color: white;
}

.red::before {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  width: 100%;
  border-top: 8px solid white;
  -o-border-image: url("./images/copyright_border.png") 25 stretch;
     border-image: url("./images/copyright_border.png") 25 stretch;
  top: -3px;
}

.red::after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  width: 100%;
  border-top: 8px solid white;
  -o-border-image: url("./images/copyright_border.png") 25 stretch;
     border-image: url("./images/copyright_border.png") 25 stretch;
}

.mysct4 {
  background-image: url(./images/cart_bg.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.mysct4 h1 {
  text-align: center;
  font-size: 40px;
}

.myh1 {
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
  font-family: "Arima", system-ui;
}

#myul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
  list-style: none;
  font-size: 20px;
  max-width: 1440px;
  width: 100%;
  margin: auto;
}
#myul li {
  display: inline-block;
  padding: 40px 10px;
  font-size: 20px;
  position: relative;
  font-family: "Arima", system-ui;
}
#myul li:hover {
  background-color: red;
  color: white;
}
#myul a {
  color: black;
  text-decoration: none;
}
#myul a:hover {
  color: white;
}
#myul li:hover::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border: 5px solid transparent;
  -o-border-image: url("./images/bt_hoverborder.png") 5 round;
     border-image: url("./images/bt_hoverborder.png") 5 round;
  z-index: -1;
  transition: all 0.5s ease;
}

.borderimgclass {
  max-width: 1040px;
  margin: auto;
}
.borderimgclass #borderimg {
  width: 100%;
  position: relative;
  top: -10px;
  height: 5px;
}

.range2 {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 196px;
  height: 10px;
  background: red;
  outline: none;
  border-radius: 5px;
}

.range2::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  border: 2px solid purple;
  border-radius: 50%;
  cursor: pointer;
}

.range2::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: white;
  border: 2px solid purple;
  border-radius: 50%;
  cursor: pointer;
}

.filter {
  font-family: "Arima", system-ui;
  width: 250px;
  height: 390px;
  border: 1px solid #E7E7E7;
  background-color: #F1F1F1;
  border-radius: 5px;
}
.filter .filterTop {
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
  padding: 19px 15px 17px;
}
.filter .filterTop p {
  font-size: 17px;
}
.filter .filterTop .fa-filter {
  font-size: 16px;
  margin-top: 5px;
}
.filter .rangeBox {
  font-size: 16px;
  margin: 0px 0px 8px;
  padding-left: 15px;
}
.filter .checkBoxes {
  margin: 0px 24.6px 0px 24.5px;
}
.filter .checkBoxes #nuts[type=checkbox] {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #cfcfcf;
  border-radius: 0.25rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
.filter .checkBoxes #nuts[type=checkbox]:checked {
  background-color: red;
}
.filter .checkBoxes #nuts[type=checkbox]:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 5px;
  height: 10px;
  border: 4px solid transparent;
  border-left: none;
  border-top: none;
  transform: rotate(45deg) scale(1);
}
.filter .checkBoxes #nuts[type=checkbox]:checked:before {
  border-color: #fff;
  animation: checkanim 0.2s ease;
}
@keyframes checkanim {
  from {
    transform: rotate(45deg) scale(0);
  }
}
.filter .checkBoxes #vegan[type=checkbox] {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #cfcfcf;
  border-radius: 0.25rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
.filter .checkBoxes #vegan[type=checkbox]:checked {
  background-color: red;
}
.filter .checkBoxes #vegan[type=checkbox]:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 5px;
  height: 10px;
  border: 4px solid transparent;
  border-left: none;
  border-top: none;
  transform: rotate(45deg) scale(1);
}
.filter .checkBoxes #vegan[type=checkbox]:checked:before {
  border-color: #fff;
  animation: checkanim 0.2s ease;
}
@keyframes checkanim {
  from {
    transform: rotate(45deg) scale(0);
  }
}
.filter .filterbuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.filter .filterbuttons .reset {
  border-radius: 5px;
  transition: 0.5s;
}
.filter .filterbuttons .reset:hover {
  background-color: #FFCC00;
}
.filter .filterbuttons #filterApply {
  transition: 0.5s;
}
.filter .filterbuttons #filterApply:hover {
  background-color: #FFCC00;
}
.filter .filterbuttons button {
  width: 205px;
  height: 45px;
  background-color: red;
  color: white;
  font-family: "Arima", system-ui;
  margin-top: 40px;
  border: none;
  font-size: 20px;
  font-weight: 600;
}

#fullsection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1140px;
  width: 100%;
  margin: auto;
  gap: 20px;
}
#fullsection .productcard {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  font-family: "Arima", system-ui;
}
#fullsection .productcard .allproductcard {
  width: 250px;
  border: 1px solid #CFCFCF;
  border-radius: 10px;
  transition: 0.5s;
  overflow: hidden;
}
#fullsection .productcard .allproductcard h3 {
  text-align: center;
  margin-bottom: 20px;
}
#fullsection .productcard .allproductcard p {
  text-align: center;
  margin-bottom: 20px;
}
#fullsection .productcard .allproductcard .inputradio {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  gap: 5px;
}
#fullsection .productcard .allproductcard .fa-circle-check {
  color: red;
  font-size: 15px;
  padding-top: 5px;
}
#fullsection .productcard .allproductcard .fa-circle {
  font-size: 15px;
  padding-top: 5px;
}
#fullsection .productcard .allproductcard img {
  width: 100%;
  background-color: #cfcfcf;
}
#fullsection .productcard .allproductcard .cardbottom {
  display: flex;
  justify-content: space-between;
  padding-inline: 10px;
  margin-bottom: 20px;
}
#fullsection .productcard .allproductcard .borderblack {
  position: relative;
  width: 108px;
  height: 42px;
  font-size: 15px;
}
#fullsection .productcard .allproductcard .borderblack::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 5px solid transparent;
  -o-border-image: url("./images/bt_border.png") 5 round;
     border-image: url("./images/bt_border.png") 5 round;
  transition: all 0.5s ease;
}
#fullsection .productcard .allproductcard .borderblack:hover {
  background-color: red;
  color: white;
}
#fullsection .productcard .allproductcard:hover {
  box-shadow: 3px 3px 5px 5px gray;
}

footer {
  width: 100%;
  height: 40px;
  margin-top: 40px;
  background-color: red;
  position: relative;
}
footer h4 {
  text-align: center;
  padding-top: 10px;
  color: white;
  font-family: "Arima", system-ui;
}

footer::before {
  position: absolute;
  content: "";
  top: -3px;
  left: 0;
  width: 100%;
  border-top: 8px solid white;
  -o-border-image: url("./images/copyright_border.png") 25 stretch;
     border-image: url("./images/copyright_border.png") 25 stretch;
}

.totalbolo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-inline: 15%;
  width: 100%;
}
.totalbolo h2 {
  text-align: center;
  margin-bottom: 30px;
  font-family: "Arima", system-ui;
}
.totalbolo button {
  width: 233px;
  height: 45px;
  background-color: red;
  border: none;
  font-size: 17px;
  font-weight: 600;
  font-family: "Arima", system-ui;
  transition: 0.5s;
}
.totalbolo button:hover {
  background-color: #FFCC00;
  transform: scale(1.1);
  box-shadow: 3px 3px 5px 5px #FFCC00;
}

@media screen and (max-width: 1060px) {
  table .background::before {
    display: none;
  }
  table th:before {
    display: none;
  }
}
@media screen and (max-width: 770px) {
  body nav {
    padding-inline: 60px;
  }
}
@media screen and (max-width: 545px) {
  body nav ul li a {
    display: none;
  }
  body nav ul .cart-button {
    display: none;
  }
  body nav ul .burgebbarblack {
    display: block;
  }
  body nav ul .burgebbarblack ul li a {
    display: block;
  }
  body nav .respoimg {
    display: block;
    position: relative;
    right: 20px;
  }
  body #mydis2::after {
    display: none;
  }
  body .pizza {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */